*{
    margin:0;
    padding:0;
}
line{
  stroke:black;
  stroke-width: 1px;
}
line.outline{
  stroke: blue;
  stroke-width: 3px;
}
line.scale{
  stroke:red;
  stroke-width: 3px;
}
input {
  margin: 0.5%;
  padding: 5px;
}
